@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        width: 80%;
        height: 400px;
        flex-flow: row nowrap;
    }

    .imageSection {
        width: 30%;
        height: 100%;
    }

    .formSection {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    main {
        width: 90%;
        max-width: 1000px;
        flex-flow: row-reverse nowrap;
        height: 400px;
    }
    .imageSection {
        width: 50%;
        height: 100%;
    }

    .formSection {
        width: 50%;
    }
}